.productos-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  padding-bottom: 2rem;
}

.producto-card {
  background-color: bisque;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 25%;
  height: 100%;
  text-align: center;
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
}


.producto-nombre {
  color: black;
  max-width: 90%;
  margin: 1rem auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: block;
  font-size: clamp(0.3rem, 2vw, 1.5rem); /* Ajuste flexible */
}


.producto-image {
  width:90%;
  height:55%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
