.detalle-container {
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: #fdf5e6;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    align-items: center;
}
  
.detalle-imagen {
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
  
.detalle-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}
  
.detalle-contador {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}
  
.detalle-contador span {
    font-size: 18px;
    color: black;
}
  