.productos-conteiner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  width: 100%;
}

.producto-card {
  background-color: bisque;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 30%;
  height: 100%;
  text-align: center;
  margin-top: 5px;
}

.producto-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
